## Terraform Gitignore
# Local .terraform directories
terraform/.terraform/*

#  Ignore variables files
terraform/**/*.tfvars
terraform/**/*.auto.tfvars

#  Ignore override files
terraform/*.tfoverride

#  Ignore environment-specific files
.envrc

#  Ignore CLI configuration files
terraform/**/.terraformrc
terraform/**/terraform.rc

## Kubernetes Gitignore
k8s/**/secret.yaml